@import "../../shared/shared.scss";

.body {
  margin: 0 auto;
  max-width: 500px;
  padding: $gutter;
  background-color: #233344;
}

.code {
  border-left: 1px solid rgb(3, 133, 255);
  padding: 10px;
  background-color: $background-color;
}

@media (min-width: 800px) {
}
