$primary-color: #233344;
$secondary-color: #233344;
$background-color: #151f29;
$font-color: rgb(220, 220, 220);
$accent: rgba(0, 61, 117, 0.87);
$accentBright: rgb(3, 133, 255);

$gutter: 16px;
$smallScreen: 500px;