@import "../../../shared/shared.scss";
.container {
  margin: auto;
  border-radius: 4px;
  box-shadow: 1px 2px rgba(44, 44, 44, 0.521);
  width: 200px;
  height: 200px;
  background-color: $background-color;
  .head {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 160px;
    img {
      border-radius: 4px 4px 0 0;
    }
  }

  .body {
    padding-top: 5px;
    line-height: 0;
    padding-left: $gutter;
    font-weight: 700;
    color: $accentBright;
    width: 100%;
    height: 40px;
  }
}

@media (min-width: 800px) {
}
